<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
    
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h1>Socket + db page</h1>

        <h2 th:inline="text">사용자 : [[${#httpServletRequest.remoteUser}]]</h2>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
        <form th:action="@{/main}" method="post">
            <input type="submit" value="save"/>
        </form>

    </div>
<h1>실시간 교통 정보 </h1>

			<section class="row text-center placeholders">
			<div class="col-6 col-sm-3 placeholder">
				<img
					src="images/vertical_both_turn_left.png"
					width="100" height="100" class="img-fluid rounded-circle"
					alt="Generic placeholder thumbnail"/>
					<br/><br/><br/>
					
				<h4>KT사거리</h4>
				<div class="text-muted">원활</div>
			
			</div>
			<div class="col-6 col-sm-3 placeholder">
				<img
					src="images/vertical_both_turn_left.png"
					width="100" height="100" class="img-fluid rounded-circle"
					alt="Generic placeholder thumbnail"/>
					<br/><br/><br/>
				<h4>평촌도서관사거리</h4>
				<span class="text-muted">정체</span>
			</div>
			<div class="col-6 col-sm-3 placeholder">
				<img
					src="images/vertical_straight.png"
					width="100" height="100" class="img-fluid rounded-circle"
					alt="Generic placeholder thumbnail"/>
					<br/><br/><br/>
				<h4>법조타운사거리</h4>
				<span class="text-muted">서행</span>
			</div>
			<div class="col-6 col-sm-3 placeholder">
				<img
					src="images/vertical_straight.png"
					width="100" height="100" class="img-fluid rounded-circle"
					alt="Generic placeholder thumbnail"/>
					<br/><br/><br/>
				<h4>평촌역사거리</h4>
				<span class="text-muted">지체</span>
			</div>
			</section>
</div>
<H2>Table_LC</H2>
			<table class="table table-sm ">
				<thead class="thead-dark">
					<tr>
						<th>번호</th>
						<th>Name</th>
						<th>LC_ID</th>
						<th>OPCODE</th>
						<th>SC</th>
						<th>Cycle</th>
						<th>T_Cycle</th>
						<th>Offset</th>
						<th>Delta</th>
						<th>Phase</th>
					</tr>
				</thead>
				<tbody>
					
						<tr th:each="list : ${list}">
							<td th:text="${list.num}"></td>
							<td th:text="${list.LC_ID}"></td>
							<td th:text="${list.OPCODE}"></td>
							<td th:text="${list.SC}"></td>
							<td th:text="${list.cycle}"></td>
							<td th:text="${list.t_Cycle}"></td>
							<td th:text="${list.offset}"></td>
							<td th:text="${list.delta}"></td>
							<td th:text="${list.phase}"></td>
							
							

						</tr>
					
				</tbody>
			</table>
			<H2>Real-Time Table_Example</H2>
			<h3>실시간 DB 불러오기</h3>
			<div id= "list">
			<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>	
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

			<script th:inline="javascript">
			/*<![CDATA[*/
				
			$(document)
					.ready(
							function() {
								// Connect to our node/websockets server

								const socket = io('http://192.168.15.136:9000');

								var buffer = new ArrayBuffer(17);
								

								// Initial set of notes, loop through and add to list
								socket.on('message', function(data) {
									//console.log(data);
									buffer = data;
									var int8View = new Int8Array(buffer);
									//console.log(int8View);
									var val = new Array();
									
									for(var j=1;j<int8View.length; j++){
										if(int8View[j]==0){
											val[j-1] = int8View[j];	
										}else{
											val[j-1] = 1
										}
										
									}
									var val0 = int8View[1]
									console.log(val);
									var html;
									
										
										for (var i = 0; i < val.length; i++) {
											// We store html as a var then add to DOM after for efficiency
											html += '<li>' + val[i] + '</li></br>'
											$('#notes'+(i+i)).html(val[i])
											$('#notes'+(i+i+1)).html(val[i])
											
											//
											
											
											//
										}
										
										function test(){
											
										}
										//console.log(html)
										
								})

								})

								// New note emitted, add it to our list of current notes

			/*]]>*/
			</script>
			
			</div>
			
<!-- /.container -->

<button onClick="sendMsg()">설 정</button>
<table class="table table-sm ">
				<thead class="thead-dark">
					<tr>
						<th>DLC_ID</th>
						<th>1</th>
						<th>2</th>
						<th>3</th>
						<th>4</th>
						<th>5</th>
						<th>6</th>
						<th>7</th>
						<th>8</th>
						
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td th:id="notes0"></td>
						<td th:id="notes1"></td>
						<td th:id="notes2"></td>
						<td th:id="notes3"></td>
						<td th:id="notes4"></td>
						<td th:id="notes5"></td>
						<td th:id="notes6"></td>
						<td th:id="notes7"></td>			
					</tr>
					<tr>
						<td>2</td>
						<td th:id="notes8"></td>
						<td th:id="notes9"></td>
						<td th:id="notes10"></td>
						<td th:id="notes11"></td>
						<td th:id="notes12"></td>
						<td th:id="notes13"></td>
						<td th:id="notes14"></td>
						<td th:id="notes15"></td>			
					</tr>
					<tr>
						<td>3</td>
						<td th:id="notes16"></td>
						<td th:id="notes17"></td>
						<td th:id="notes18"></td>
						<td th:id="notes19"></td>
						<td th:id="notes20"></td>
						<td th:id="notes21"></td>
						<td th:id="notes22"></td>
						<td th:id="notes23"></td>			
					</tr>
					<tr>
						<td>4</td>
						<td th:id="notes24"></td>
						<td th:id="notes25"></td>
						<td th:id="notes26"></td>
						<td th:id="notes27"></td>
						<td th:id="notes28"></td>
						<td th:id="notes29"></td>
						<td th:id="notes30"></td>
						<td th:id="notes31"></td>			
					</tr>
					<tr>
						<td>5</td>
						<td th:id="notes32"></td>
						<td th:id="notes33"></td>
						<td th:id="notes34"></td>
						<td th:id="notes35"></td>
						<td th:id="notes36"></td>
						<td th:id="notes37"></td>
						<td th:id="notes38"></td>
						<td th:id="notes39"></td>			
					</tr>
					<tr>
						<td>6</td>
						<td th:id="notes40"></td>
						<td th:id="notes41"></td>
						<td th:id="notes42"></td>
						<td th:id="notes43"></td>
						<td th:id="notes44"></td>
						<td th:id="notes45"></td>
						<td th:id="notes46"></td>
						<td th:id="notes47"></td>			
					</tr>
					<tr>
						<td>7</td>
						<td th:id="notes48"></td>
						<td th:id="notes49"></td>
						<td th:id="notes50"></td>
						<td th:id="notes51"></td>
						<td th:id="notes52"></td>
						<td th:id="notes53"></td>
						<td th:id="notes54"></td>
						<td th:id="notes55"></td>			
					</tr>
					<tr>
						<td>8</td>
						<td th:id="notes56"></td>
						<td th:id="notes57"></td>
						<td th:id="notes58"></td>
						<td th:id="notes59"></td>
						<td th:id="notes60"></td>
						<td th:id="notes61"></td>
						<td th:id="notes62"></td>
						<td th:id="notes63"></td>			
					</tr>	
				</tbody>
			</table>
			<ul id="notes"></ul>
			
<div th:replace="fragments/footer :: footer"/>

</body>
</html>